<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624794657391-lesfoh08n5d4ug3j1blink9doff8docs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624794657391-lesfoh08n5d4ug3j1blink9doff8docs</string>
	<key>API_KEY</key>
	<string>AIzaSyApWtMSCeUBf-pD5AA6cASEZfT19X58Qpo</string>
	<key>GCM_SENDER_ID</key>
	<string>624794657391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-pnsemillano</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-pnsemillano.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624794657391:ios:d33d0e5c58535ca0a8a39a</string>
</dict>
</plist>